.placesNear {
  padding: 10px 15px;

  h3 {
    font-size: 1.6rem;
    color: #3b3b3b;
  }
}

.filters {
  display: flex;
  align-items: center;

  button {
    height: 30px;
    margin: 0 15px;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    background-color: white;
    color: #3C3B43;
    outline: 0;
    border-radius: 7px;
    font-size: 0.9rem;
    transition: 0.2s all;

    &:hover {
      border: 1px #3ec0d6 solid;
    }
  }

  .active {
    background-color: #3ec0d6;
    border: 1px #3ec0d6 solid;
    color: white;
    font-weight: bold;
  }
}

.noPlaces {
  color: #9f9f9f;
  font-size: 1.5rem;
  margin-top: 300px;
  text-align: center;
}