.header {
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    width: 60%;

    li {
      list-style: none;
      align-self: center;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .btn {
    font-size: 0.9em;
    width: fit-content;
    padding: 10px 25px;
  }

  .findBtn {
    padding: 7px 15px;
    background: linear-gradient(90deg, rgb(99, 102, 143) 0%, rgb(82, 85, 138) 100%);
  }
}

