@mixin pictures {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel {
  width: 50%;

}

.mainPicture {
  height: 500px;
  @include pictures;
  cursor: grab;
}

.secondaryPictures {
  height: 100px;
  @include pictures;
  margin: 10px;
  cursor: pointer;
}