.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  .name {
    h3 {
      font-size: 1.7rem;
    }
  }

  .hostPicture {
    border-radius: 500px;
    margin: 0 15px;
    width: 70px;
    height: 70px;
  }
}

.aboutDescription {

}