.searchPanel {
  position: relative;
}

.cities {
  position: absolute;
  color: black;
  z-index: 10;
  overflow-y: scroll;
  max-height: 500px;
  left: 0;
  background-color: white;
  width: fit-content;
  padding: 0 !important;
}

.city {
  font-size: 1rem;
  text-align: left;
  padding: 10px;

  &:hover {
    background-color: #eaeaea;
    cursor: pointer;
    transition: 0.2s all;
  }
}

.locationCityInput {
  border: 0;
  padding: 5px 0;
  outline: none;
}