.searchPanel {
  position: relative;
}

.cities {
  position: absolute;
  color: black;
  bottom: -65px;
  left: 0;
  background-color: white;
  width: fit-content;
  min-width: 100%;
}

.city {
  font-size: 1rem;
  padding: 5px;

  &:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    transition: 0.2s all;
  }
}

.locationCityInput {
  border: 0;
  padding: 5px 0;
  outline: none;
}