@import "../../../scss/consts";

.viewTitle {

}

.title {
  font-size: 2rem;
  color: #262626;
  font-weight: 500;
}

.littleDesc {
  margin: 20px 0;
  width: 450px;
  display: flex;
  justify-content: space-between;
}



.city {
  color: #5b5b5b;
  text-decoration: underline;
}