@import "../../scss/consts";

.selectPanel {
  background-color: white;
  border-radius: 10px;
  margin: 60px auto;
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-around;

  .searchBtn {
    width: 9%;
    align-self: center;
  }
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 1.2rem;
  width: 20%;

  .icon {
    color: $grey_color;
  }

  .description {
    .title {
      color: #3b3b3b;
    }

    .child {
      color: $grey_color;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 1200px) {
  .selectPanel{
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .selectPanel{
    width: 80%;
  }
}