@import "../../../scss/consts";

footer {
  padding: 50px 40px;
}

.footer {

  display: flex;
  justify-content: space-between;
}

.social {
  width: 25%;

  .description {
    color: #525252;
    line-height: 25px;
  }

  .icons {
    margin: 20px 0;
    width: 100%;
    color: gray;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: black;
  }
}

.newsletter {
  font-size: 1.2rem;

  h4 {
    margin: 0;
    font-size: 1.3rem;
  }

  .newsletterForm {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    button {
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 3px;
    }

    input {
      height: 100%;
      outline: none;
    }
  }
}

.licence {
  span {
    color: #393939;
  }
}

@media (max-width: 650px) {
  footer {
    padding: 20px 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .social {
    width: 100%;
  }

  .links {
    margin: 15px;
    flex-direction: row;
    width: 100%;
  }
}