@import "../../scss/consts";

.viewPage {

}

.goBack {
  font-size: 2rem;
  color: #646464;
  position: absolute;
  left: -100px;
}

.content {
  background-color: white;
  margin-top: 7px;
  padding: 40px 0;
}

.container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}



.bookBlock {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.book {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 30px;
  height: fit-content;
}

.about {
  width: 100%;
}