@import "../../scss/consts";

.welcomePage {

}

.description {
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15%;
  left: 10%;

  span {
    width: fit-content;
    font-weight: bold;
    padding: 0 5px;
  }

  span:nth-child(1) {
    background-color: $dark_blue_color;
  }

  span:nth-child(2) {
    background-color: $blue_color;
  }

  button {
    border-radius: 4px;
    margin-top: 20px;
    padding: 15px 30px;
    width: fit-content;
  }
}

.sectionHeader {
  margin: 20px 40px;
  font-size: 2.5rem;
  font-weight: 500;
}

section {
  margin: 10px 0;
  padding: 60px 0;
}

.topRated {
  @include container;
  padding: 0 50px;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}

.topItem {
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    .itemPicture {
      transform: scale(1.2);
    }
  }

  .itemPicture {
    transition: 0.5s all;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.citiesSection {
  background-color: #53bae5;

  .sectionHeader {
    color: white;
  }
}

.gridMajorCities {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 30px;
  grid-template-areas:
    "los_angeles miami houston new_york"
    "sun_francisco sun_francisco houston new_york";

  div {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 7px 12px #666666;
    background-position: center;
    background-size: cover;
    position: relative;
    &:after {
      color: white;
      position: absolute;
      font-weight: 400;
      font-size: 1.5rem;
      bottom: -40px;
      left: 0;
    }
  }
}

.sun_francisco {
  grid-area: sun_francisco;
  height: 200px;
  &:after{
    content: 'Sun Francisco';
  }
}

.houston {
  grid-area: houston;
  height: 100%;
  &:after{
    content: 'Houston';
  }
}

.los_angeles {
  grid-area: los_angeles;
  height: 200px;
  &:after{
    content: 'Los Angeles';
  }
}

.miami {
  grid-area: miami;
  height: 200px;
  &:after{
    content: 'Miami';
  }
}

.new_york {
  grid-area: new_york;
  height: 100%;
  &:after{
    content: 'New York';
  }
}


@media (max-width: 1370px) {
  .description {
    font-size: 2.5rem;
  }
  .topItem {
    height: 350px;
  }
}

@media (max-width: 1000px) {
  .description {
    position: relative;
    font-size: 2rem;
    bottom: 0;
  }
}