@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import '~react-leaflet-markercluster/dist/styles.min.css';
@import "src/scss/consts";

body {
  margin: 0;
  font-family: "Roboto", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

}

code {
  font-family: sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.leaflet-container {
  height: 100%;
  width: 100%;
}

a {
  color: white;
}

::-webkit-scrollbar { /* 1 - скроллбар */
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
  border-radius: 3px;
  background-color: #cdcdcd;
}

