

@import "src/scss/consts";

.App{
    //background-color: $main_color;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-container {
    height: 400px;
    width: 800px;
}

